<footer class="footer">
    <div class="social">
        <span>Мы в соцсетях:</span>
        <ul>
            <li>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </li>
        </ul>
    </div>
    <div class="subscribe">
        <div class="subscribe__mobileBtn">Получать новости по e-mail</div>
        <form class="subscribe__form" action="">
            <span class="subscribe__title">Подпишитесь на новости:</span>
            <input type="email" placeholder="Ваш E-mail">
            <input type="submit" value="Подписаться">
        </form>
    </div>
    //= footerMenu/index.html
    //= copyright/index.html
</footer>