<div class="productList">
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="#product">
                <img src="img/product/1.jpg" alt="">
                <div class="tags">
                    <div class="tagRecommended"></div>
                    <div class="tagRecommended"></div>
                </div>
            </a>
            <div class="title">Glitter Drape Front Shift Dress</div>
            <a href="#1" class="collection">M&S COLLECTION</a>
            <div class="price">10 000 — 12 000 руб.</div>
            <a class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="">
                <img src="img/product/1.jpg" alt="">
                <span class="title">Glitter Drape Front Shift Drape Front Shift Dress</span>
                <span class="collection">M&S COLLECTION</span>
                <span class="price">10 000—12 000 руб.</span>
            </a>
            <a  class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="#product">
                <img src="img/product/1.jpg" alt="">
                <div class="tags">
                    <div class="tagRecommended"></div>
                    <div class="tagRecommended"></div>
                </div>
            </a>
            <div class="title">Glitter Drape Front Shift Dress</div>
            <a href="#1" class="collection">M&S COLLECTION</a>
            <div class="price">10 000 — 12 000 руб.</div>
            <a class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="">
                <img src="img/product/1.jpg" alt="">
                <span class="title">Glitter Drape Front Shift Dress</span>
                <span class="collection">M&S COLLECTION</span>
                <span class="price">10 000—12 000 руб.</span>
            </a>
            <a  class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="#product">
                <img src="img/product/1.jpg" alt="">
                <div class="tags">
                    <div class="tagRecommended"></div>
                    <div class="tagRecommended"></div>
                </div>
            </a>
            <div class="title">Glitter Drape Front Shift Dress</div>
            <a href="#1" class="collection">M&S COLLECTION</a>
            <div class="price">10 000 — 12 000 руб.</div>
            <a class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="">
                <img src="img/product/1.jpg" alt="">
                <span class="title">Glitter Drape Front Shift Dress</span>
                <span class="collection">M&S COLLECTION</span>
                <span class="price">10 000—12 000 руб.</span>
            </a>
            <a  class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="#product">
                <img src="img/product/1.jpg" alt="">
                <div class="tags">
                    <div class="tagRecommended"></div>
                    <div class="tagRecommended"></div>
                </div>
            </a>
            <div class="title">Glitter Drape Front Shift Dress</div>
            <a href="#1" class="collection">M&S COLLECTION</a>
            <div class="price">10 000 — 12 000 руб.</div>
            <a class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
    <div class="productItem">
        <div class="like"></div>
        <div class="link">
            <a class="goCart" href="">
                <img src="img/product/1.jpg" alt="">
                <span class="title">Glitter Drape Front Shift Dress</span>
                <span class="collection">M&S COLLECTION</span>
                <span class="price">10 000—12 000 руб.</span>
            </a>
            <a  class="fastView" href="#"></a>
        </div>
        <div class="colorVariant">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
        </div>
        <div class="rating"></div>
    </div>
</div>