@import "breadcrumbs/main"
@import "banner/main"
@import "filters/main.sass"
.titleCategory
  color: #000000
  font-family: "Roboto Condensed"
  font-size: 3.375rem
  font-weight: 400
  line-height: rem(49px)
  text-transform: uppercase
  text-align: center