<div class="sidebar">
     <nav class="sidebarMenu">
         <ul>
             <li>
                 <a href="#">Одежда</a>
                 <ul>
                     <li><a class="activelink--700" href="#">Платья</a></li>
                     <li><a href="#">Блузки и рубашки</a></li>
                     <li><a href="#"></a>Футболки и топы</li>
                     <li><a href="#">Кардиганы и свитеры</a></li>
                     <li><a href="#">Юбки</a></li>
                     <li><a href="#"></a>Брюки</li>
                 </ul>
             </li>
             <li>
                 <a href="#">Обувь</a>
                 <ul>
                     <li><a href="#">Кроссовки</a></li>
                     <li><a href="#">Туфли</a></li>
                 </ul>
             </li>
             <li>
                 <a href="#">Аксессуары</a>
             </li>
             <li>
                 <a href="#">Белье</a>
                 <ul>
                     <li><a href="#">Блузки</a></li>
                     <li><a href="#">Блузки1</a></li>
                     <li><a href="#">Блузки2</a></li>
                     <li><a href="#">Блузки3</a></li>
                     <li><a href="#">Блузки4</a></li>
                 </ul>
             </li>
         </ul>
     </nav>
</div>