<nav class="footer__navMenu">
    <ul>
        <li class="title">Помощь</li>
        <li>Faq</li>
        <li>Таблица размеров</li>
        <li>Карта магазинов</li>
        <li>Карта сайта</li>
    </ul>
    <ul>
        <li class="title">Помощь</li>
        <li>Оплата и доставка</li>
        <li>Политика возрастов</li>
        <li>Отслеживание заказов</li>
        <li>Оплата и доставка</li>
    </ul>
    <ul>
        <li class="title">О нас</li>
        <li>Faq</li>
        <li>Таблица размеров</li>
        <li>Карта магазинов</li>
        <li>Политика возрастов</li>
        <li>Отслеживание заказов</li>
        <li>Оплата и доставка</li>
    </ul>
</nav>