<div class="pagination">
    <div class="pagination__sort">
        <div class="pagination__quantityModel">
            <span>270</span> моделей
        </div>
        <div class="pagination__select">
            <span>Cортировать по:</span>
            <select class="selectSort" name="" id="selectSort">
                <option value="1">Возрастанию цены</option>
                <option value="2">Убыванию цены</option>
            </select>
        </div>
    </div>
    <div class="pagination__pages">
        <div class="pagination__perPage">
            <span>Выводить по:</span>
            <div class="pagination__quantityPerPage">
                <div class="btn btn--black btn--blackActive">12</div>
                <div class="btn btn--black">48</div>
                <div class="btn btn--black">96</div>
            </div>
        </div>
        <div class="pagination__page">
            <div>
                Страница: <span class="pagination__onPage">1</span> из <span class="pagination__ofPage">4</span>
            </div>
            <div class="pagination__arrows">
                <div class="btn pagination__buttonPrev btn--paginationLeftStart"></div>
                <div class="btn pagination__buttonNext"></div>
            </div>
        </div>
    </div>
</div>