.navMenu
  margin-top: rem(10px)
  border-bottom: 6px solid #111
  position: relative
  &:before
    content: ''
    position: absolute
    width: rem(49px)
    left: rem(-49px)
    height: rem(6px)
    background-color: #111
    bottom: rem(-6px)
  &:after
    content: ''
    position: absolute
    width: rem(49px)
    right: rem(-49px)
    height: 6px
    background-color: #111
    bottom: rem(-6px)
  ul
    display: flex
    justify-content: space-between
    li
      list-style-type: none
      color: #333333
      font-size: 0.875rem
      font-weight: 700
      text-transform: uppercase
      a
        padding: rem(10px 0px)
        display: block
  .link--green
    color: #aac124