<div class="productFilters">
    <div class="productFilters__selectFilters">
        <select name="" id="selectSize">
            <option value="1">Размер</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select name="" id="selectColor">
            <option value="1">Цвет</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select name="" id="selectStyle">
            <option value="1">Стиль</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select name="" id="selectPrice">
            <option value="1">Цена</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select name="" id="selectMaterial">
            <option value="1">Материал</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <select name="" id="selectCollection">
            <option value="1">Коллекция</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div class="productFilters__saleInput">
        <input id ="saleInput" type="checkbox">
        <label for="saleInput">Только со скидками</label>
    </div>
    <div class="btn resetFilter">Сбросить фильтр</div>
    //= ../pagination/index.html
</div>