<header class="header">
    <div class="topBanner">
        <div class="topBanner__title">Подарок для тебя</div>
        <div class="topBanner__subTitle">ПОЛУЧИ БЕСПЛАТНУЮ ДОСТАВКУ ИСПОЛЬЗУЯ <span>ПРОМО-КОД</span> ДОСТАВКА.
            А ТАК ЖЕ ТЫ ПОЛУЧИТЕ БЕСПЛАТНУЮ УПАКОВКУ С КОТИКАМИ В ШАПОЧКАХ.</div>
        <div class="btn btn--close"></div>
    </div>
    <div class="topBar">
        <div class="logo"></div>
        <div class="topBarBackBtn"></div>
        <div class="hotLine">
            <div class="hotLine__title">Горячая линия M&S </div>
            <div class="hotLine__tel">
                <a href="tel:88001001010">8 800 100 10 10</a>
            </div>
            <div class="hotLine__hint">звонок по России бесплатный</div>
        </div>
        <div class="barInfo">
            <div class="barInfo__search">
                <input type="text" placeholder="Поиск">
                <input class="btnSearch" type="submit">
            </div>
            <div class="barInfo__map">
                <a href="#">карта магазинов</a>
            </div>
            <div class="barInfo__favorite">
                <a href="#">
                    <span class="title">избранное</span>
                    <span class="quantity">27</span></a>
            </div>
            <div class="barInfo__login">
                <a href="#" id="show-modal" @click="showModal = true">Вход</a>
            </div>
            <div class="basketIndicator">
                <a href="#">
                    <span class="title">Ваша корзина:</span>
                    <span class="quantity">25</span>
                </a>
            </div>
        </div>
        </div>
    //= navMenu/index.html
    <div class="transfer">
        Доставка на следующий день. При покупке от 7000 рублей.
    </div>
    <div class="hotLine">
        <div class="hotLine__title">Горячая линия M&S </div>
        <div class="hotLine__tel">
            <a href="tel:88001001010">8 800 100 10 10</a>
        </div>
        <div class="hotLine__hint">звонок по России бесплатный</div>
    </div>
</header>